<!--HEADER-->
<template id="template-header">
  <header class="border-bottom">
    <div class="logo d-flex align-items-center justify-content-between">
      <nav class="navbar px-4">
        <a class="navbar-brand" href="./index.html">
          <img src="./assets/logo.png" class="w-50" />
        </a>
      </nav>
      <nav class="navbar-nav px-4">
        <a class="nav-link" href="./favorites.html">
          <i class="far fa-heart"></i> My favorites
        </a>
      </nav>
    </div>
  </header>
</template>

<!--FOOTER-->
<template id="template-footer">
  <footer class="bg-customdarkblue text-white p-2">
    <span>© 2023 QualyCity</span>
  </footer>
</template>